body{
    background-color:darkgreen;
}
h1{
    color: lightgreen;
    font-family: Garamond, serif;
}
li{
    color: lightgreen;
    font-family: Garamond, serif;
}
h2{
    color: lightgreen;
    font-family: Garamond, serif;
}